#shadow{
  box-shadow: 5px 5px 4px #888888;
}

#shadow:hover{
  color: #000000;
  background: #bab8b8;
  font-weight: normal;
  text-shadow: none;
  box-shadow: none;
}

#logo:hover{
  color: @fg_color;
  background: @bg_color;
  border: hidden;
  text-shadow: none;
  box-shadow: none;
}
